@import "../../css/variables";

.counter {
  width: 100%;
  text-align: center;

  & * {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $very-light-beige-hover, $alpha: 0.7);
  }

  & h1 {
    min-height: 100px;
    padding: 10px 50px;
    font-size: 35px;
    color: $dark-brown;
  }

  & p {
    padding: 10px 30px;
    font-size: 25px;
    font-weight: semibold;
    color: $dark-brown;
  }
}
