@import "../../css/variables";

$bg-height: 512px;
$time-to-drop: 20s;

@keyframes cookie-shower {
  0% {
    top: 0;
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 $bg-height;
  }
}

.cookieShower {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: cookie-shower $time-to-drop linear;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(
      to bottom,
      rgba($color: $beige, $alpha: 0.2) 0%,
      rgba($color: $beige, $alpha: 1) 100%
      );
  }
}

.cookieShowerInner {
  position: absolute;
  width: 100%;
  height: calc($bg-height * 2);
  background-image: url("../../../public/img/cookieShower.png");
  animation: scroll ($time-to-drop - 7s) linear $time-to-drop infinite;
}
