@import "../../css/variables";

.productCard {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 100;
  width: 300px;
  padding: 10px;

  background-color: $very-light-beige;
  border: 5px solid $dark-brown;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;

  font-size: 18px;
  color: $dark-brown;

  &::before {
    content: "";
    display: inline-block;
    left: 0;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    overflow: hidden;

    background-image: url("../../../public/img/icons.png");
    background-repeat: no-repeat;
    background-size: 1400px auto;
  }

  &--cursor::before {
    background-position: 0 0;
  }

  &--grandma::before {
    background-position: -40px 0;
  }

  &--farm::before {
    background-position: -80px 0;
  }

  &--mine::before {
    background-position: -120px 0;
  }

  &--factory::before {
    background-position: -162px 0;
  }

  &--shipment::before {
    background-position: -204px 0;
  }

  &--alchemy-lab::before {
    background-position: -240px 0;
  }

  &--portal::before {
    background-position: -287px 0;
  }

  &--bank::before {
    background-position: -616px 0;
  }

  &--temple::before {
    background-position: -656px 0;
  }

  &--wizard-tower::before {
    background-position: -696px 0;
  }

  &--time-machine::before {
    background-position: -327px 0;
  }

  &--antimatter-condenser::before {
    background-position: -532px 0;
  }
}

.features {
  margin: 10px 0 0;
  padding: 0 0 0 5px;
  list-style-position: inside;
}

.featureItem {
  position: relative;
  font-size: 14px;
  color: $dark-brown;
}
