@import "../../css/variables";

.sectionPanels {
  display: flex;
  height: 100%;

  .panel {
    display: flex;
    flex-direction: column;
    border: 10px solid $brown;
    overflow-y: auto;
    overflow-x: hidden;

    &--cookie {
      align-items: center;
      flex-shrink: 0;
      width: 30%;
      min-width: 300px;
      overflow: hidden;
    }

    &--manufacturers {
      width: 100%;
    }

    &--store {
      flex-shrink: 0;
      width: 30%;
      min-width: 300px;
    }

    h2 {
      margin: 20px;

      color: $dark-brown;
      font-size: 35px;
      text-align: center;
    }
  }
}
