@import "../../css/variables";

@mixin disabled() {
  pointer-events: none;
  cursor: default;
  filter: grayscale(80%);

  .price {
    color: $red;
  }
}

.itemWrapper {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 5px;

  list-style: none;

  &.isUnknown {
    @include disabled;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 25px;
      display: block;
      width: 64px;
      height: 64px;
      overflow: hidden;
      background-image: url("../../../public/img/icons.png");
      background-repeat: no-repeat;
      background-size: 2000px 2000px;

      background-position: 0 -410px;
      transform: translateY(-50%);
    }
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 10px 40px 10px 100px;

  text-align: left;
  color: $dark-brown;
  font-size: 20px;
  font-weight: bold;

  background-color: $very-light-beige;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  background-position: 15px center;
  cursor: pointer;
  border: none;
  box-shadow: 7px 7px 0 0 rgba($color: $black, $alpha:  0.3);

  &:hover {
    background-color: $very-light-beige-hover;
    transform: scale(1.1);
    box-shadow: 7px 7px 0 0 rgba($color: $black, $alpha: 0.4);
    transition: all 0.2s;
  }

  &.disabled {
    @include disabled;
  }
}

.info {
  display: flex;
  flex-direction: column;
}

.price {
  position: relative;
  padding-left: 20px;
  margin-top: 5px;

  font-size: 14px;
  color: $green;
  text-shadow: 2px 2px 3px rgba($color: $black, $alpha:  0.3);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 15px;

    background-image:
      url("../../../public/img/money.png"),
      radial-gradient($chocolate 60%, $very-light-beige 60% 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.count {
  display: flex;
  align-items: center;
  height: 100%;

  font-size: 35px;
  opacity: 0.65;
}
