@import "../../css/variables";

.restartButton {
  position: fixed;
  bottom: 30px;
  left: 30px;
  padding: 7px 15px;

  font-size: 15px;
  color: $light-beige;
  text-transform: uppercase;

  background-color: $brown;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    opacity: 0.6;
  }
}
