@mixin border($side: "bottom") {
  border-#{$side}: 7px solid sienna;
}

.list {
  margin: 50px 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 5px 20px;

  @include border;

  &:first-child {
    @include border("top");
  }
}

.itemImg {
  flex-shrink: 0;
  display: block;
  width: 70px;
  height: 70px;

  background-repeat: no-repeat;
  background-position: center;

  &:nth-child(even) {
    transform: translateY(-10px);
  }

  &:nth-child(odd) {
    transform: translateY(10px);
  }

  &--Grandma {
    width: 40px;
    background-size: cover;
  }
}
