@import "../../css/variables";

@keyframes circling {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes cursor-animation {
  from {
    transform: scale(-1) translateY(0);
  }

  70% {
    transform: scale(-1) translateY(0);
  }

  80% {
    transform: scale(-1) translateY(-10px);
  }

  90% {
    transform: scale(-1) translateY(0);
  }

  to {
    transform: scale(-1) translateY(0);
  }
}

@keyframes cookie-numbers-animation {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -200px);
    opacity: 0;
  }
}

@mixin background() {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.bigCookieButtonWrapper {
  position: relative;
  width: $big-cookie-size-hover;
  height: $big-cookie-size-hover;

  border-radius: 50%;
}

.bigCookieButton {
  position: relative;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: block;
  width: $big-cookie-size;
  height: $big-cookie-size;
  margin: 0;
  padding: 0;

  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  color: $dark-brown;

  @include background;
  background-color: transparent;
  background-image: radial-gradient($chocolate 60%, rgba($color: $chocolate, $alpha: 0) 60% 100%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: all 0.2s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include background;
    background-image: url("../../../public/img/perfectCookie.png");
    border-radius: 50%;
  }

  &:hover {
    width: 100%;
    height: 100%;
  }

  &:active::after {
    box-shadow:
      0 0 200px rgba($color: $yellow, $alpha: 0.7),
      inset 0 0 200px rgba($color: $yellow, $alpha: 0.7);
  }

  &:active ~ .cookieNumbers {
    transform: translateY(-100px);
  }
}

.cursorsCircle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;

  animation: circling 50s infinite linear;

  .arc {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 0;
    padding-bottom: 47%;
    transform-origin: 0% 100%;
  }

  .cursor {
    display: block;
    width: 25px;
    height: 25px;
    color: transparent;

    background-image: url("../../../public/img/cursor.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(-1);
    animation: cursor-animation 2s infinite;
  }
}

.cookieNumbers {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: block;

  font-size: 25px;
  font-weight: 1000;
  color: $white;

  pointer-events: none;
  opacity: 0;
  animation: cookie-numbers-animation 2s linear;
}
