@import "./variables";

body {
  box-sizing: border-box;
  margin: 0;

  background-color: $beige;
  user-select: none;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: $light-beige;
}

::-webkit-scrollbar-track {
  background-color: $light-beige;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: $darkred;
  border-radius: 100px;
}
