$white: white;
$black: black;
$dark-brown: maroon;
$beige: burlywood;
$light-beige: bisque;
$very-light-beige: blanchedalmond;
$very-light-beige-hover: antiquewhite;
$chocolate: chocolate;
$brown: sienna;
$yellow: gold;
$red: red;
$darkred: darkred;
$green: yellowgreen;
$big-cookie-size: 250px;
$big-cookie-size-hover: $big-cookie-size + 20px;
