@keyframes drop {
  0% {
    transform: translateY(-100%);
  }

  70% {
    opacity: 1;
  }

  100% {
    top: 800px;
    opacity: 0;
  }
}

.dropCookie {
  position: absolute;
  top: 0;
  display: block;
  width: 42px;
  height: 42px;
  overflow: hidden;

  transform: translateY(-100%);

  background-image: url("../../../public/img/icons.png");
  background-repeat: no-repeat;
  background-size: 1400px auto;
  animation: drop 10s linear infinite;
}
